*__pycache__*
.vs/**
*.mp4
*.avi
!example.mp4
!create_dataset.py
*.png
*.jpg
output/**

# Latex
!relazione/img/**
*.pdf
*.bcf
*.run.xml
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz